html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  margin: 0 auto;
  font-family: sans-serif;
  color: black;
}
main {
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  margin: 10px 0 20px 0;
}
header {
  margin: 0 auto;
  width: 60%;
}
a {
  text-decoration: none;
  color: #679289;
  font-weight: 600;
  letter-spacing: 1px;
}
a::before,
a::after {
  color: #679289;
}
html {
  background-color: #fffaca;
}
.heading {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  color: #003554;
}

.cards {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 20px;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  color: #003554;
  background-color: #679289;
}
.card-holder {
  display: flex;
  width: 50%;
  justify-content: center;
}
